body {
    font-family: Arial, Helvetica, sans-serif;
}
.motos {
    display: flex;
    gap: 10px;
}
.motos article {
    background-color: #535353;
    border-radius: 10px;
    color: aliceblue;
    padding: 25px;
    width: 350px;
}
.motos article img {
    border-radius: 25px;
}
.img-moto {
    display: flex;
    width: 275px;
    height: 183px;
}
.img-moto img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
body {
    background-color:rgb(138, 133, 124)
}
header {
    background-color: #535353;
    color: aliceblue;
}
#titulo {
    font-family: Tahoma;
    font-size: 30pt;
}
#subtitulo {
    font-family: Tahoma;
    font-size: 25pt;
}